@charset "utf-8";
@font-face {
	font-family: "Museo Sans";
	src: url('MuseoSans_500.otf');
}
body {
	background-color: #BBD2CC;
}
#logo {
	margin: 0 auto;
	background-image: url(stj-logo.png);
	width: auto;
	height: 30vh;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center 0%;
}
textarea {
	width: 20vw;
	height: 4vh;
	resize: none;
	padding-left: 1vw;
	border: 1px solid #173F35;
	font-family: Museo Sans;
	float: right;
	line-height: 4vh;
}
h3 {
	color: #173F35;
	font-family: Museo Sans;
	width: 10vw;
	float: left;
}
.text-container {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	width: 35vw;
	height: 6vh;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #BBD2CC;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #BBD2CC;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #BBD2CC;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #BBD2CC;
}

#art {
	background-image: url(subject-icons/art-deselected.png);
}
#biology   {
	background-image: url(subject-icons/biology-deselected.png);
}
#business {
	background-image: url(subject-icons/business-deselected.png);
}
#economics {
	background-image: url(subject-icons/economics-deselected.png);
}
#ess {
	background-image: url(subject-icons/ess-deselected.png);
}
#history {
	background-image: url(subject-icons/history-deselected.png);
}
.language {
	background-image: url(subject-icons/language-deselected.png);
}
#maths   {
	background-image: url(subject-icons/maths-deselected.png);
}
#music {
	background-image: url(subject-icons/music-deselected.png);
}
#philosophy {
	background-image: url(subject-icons/philosophy-deselected.png);
}
#physics {
	background-image: url(subject-icons/physics-deselected.png);
}
#theater {
	background-image: url(subject-icons/theater-deselected.png);
}
#chemistry {
	background-image: url(subject-icons/chem-deselected.png);
}
.class-icon {
	width: 4vw;
	height: 4vw;
	background-size: contain;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 3vh;
	background-repeat: no-repeat;
	cursor: pointer;
}
p {
	font-family: Museo Sans;
	color: #173F35;
	text-align: center;
}
.week-table {
	margin: 0 auto;
	width: 50%;
	table-layout: fixed;
}
.week-header {
	background-color: #173F35;
}
.week-header td {
	color: #FFFFFF;
	font-family: Museo Sans;
}
.week-table, .week-table td {
	border: 1px solid #173F35;
	text-align: center;
}
.week-table tr td {
	padding-top: 0;
	padding-right: 1vh;
	padding-left: 1vh;
	padding-bottom: 1vh;
	height: 4vh;
	border: none;
}
.schedule-period {
	border-radius: 10px 10px;
	margin-top: 1vh;
	margin-right: 0;
	margin-left: 0;
	background-color: #92BDAF;
	color: #173F35;
	font-family: Museo Sans;
	padding: 2px;
	padding-left: 5px;
	cursor: pointer;
}table tr td {
}
.period-selected {
	background-color: #173F35;
	color: #BBD2CC;
}
