body {
    background-image: linear-gradient( -45deg, white 0%, white 50%, #0288D1 50%, #0288D1 50%);
}
#name {
    color: #B3E5FC;   
    font-family: Montserrat; /* Should probably find a replacement */
    display: inline-block;
    margin-left: 7%;
    margin-top: 4%;
    font-size: 48px;
}
#icons {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10%;
    margin-right: 10%;
}
.icon {
    width: 150px;
    height: 150px;
    margin: 50px;
}