body {
    background-image: linear-gradient( -45deg, white 0%, white 50%, #0288D1 50%, #0288D1 50%);
}
#name {
    color: white;   
    font-family: Montserrat; /* Should probably find a replacement */
    display: inline-block;
    margin-left: 7%;
    margin-top: 4%;
    font-size: 48px;
}
#icons {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 7%;
    margin-right: 7%;
}
.icon {
    width: 150px;
    height: 150px;
    margin: 50px;
}
.small-icon {
    width: 50px;
    height: 50px;
}
#top-small {
    margin-right: 50px;
    margin-bottom: 50px;
}
.hover-click {
    -webkit-transition: .1s ease-in-out;   
}
.hover-click:hover {
     -webkit-transform: scale(1.1);
}
.hover-click:active {
    -webkit-transform: scale(.9);
    opacity: 0.7;
}
#certifications {
    color: #B3E5FC;
    display: inline-block;
    font-family: Montserrat;
    font-size: 24px;
    margin-top: 7%;
    margin-left: 2%;
    line-height: 200%;
}
#explore {
    font-family: Montserrat;
    font-size: 36px;
}
.underscore {
    width: 95%;
    height: 0;
    border-right: 20px solid transparent;
    border-top: 20px solid white;  
    margin-top: 2%;
}
#underscore_o {
    width: 90%;
}
.scrollable {
    position: absolute;
    width: 100%;
    max-height: 70%;
    display: inline-block;
}
.origami {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.description {
    font-family: Montserrat;
    font-size: .75em;
    text-align: center
}
.crop-container {
    width: 5em;
    height: 5em;
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    margin: auto;
}
td {
    padding-top: 2%;
    padding-bottom: 2%;
}
.scroll-container {
    position: absolute;
    height: 70%;
    width: 20%;
    overflow-y: auto;
    margin-right: 5%;
    margin-bottom: 5%;
    bottom: 0;
    right: 0;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #B3E5FC;
}
::-webkit-scrollbar-thumb {
    background-color: #0288D1;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #1976D2;
}
#blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}
#popUpDiv {
    display: inline-block;
    position:absolute;
	z-index: 9002;
    margin-top: -10%;
}
.cp-link {
    text-decoration: none;
    color: #B3E5FC;
}
.cp-link:visited {
    color: #B3E5FC;
}